<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Journiversaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Journiversaire</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select your birthday date"
      [(ngModel)]="date" (ionChange)="onChange()"></ion-datetime>
  </ion-item>

</ion-content>
